
body, html
{
  width: 100%;
  height: 100%;
  font-family:"Raleway",sans-serif;
  font-weight:500;
  -webkit-font-smoothing:antialiased;
  color:#4297f3;
}

ul
{
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

/* buttons! */

.button
{
  cursor: pointer;
}

/* Spacers */

.spacer-15
{
  width: 100%;
  height: 15%;
}

.spacer-17
{
  width: 100%;
  height: 17%;
}


/* Main Logo */
.fit 
{ 
  width:  auto;
  height: 100%;
}

.fit-width
{ 
  width:  100%;
  height: auto;
}


.center 
{
  display: block;
  margin: auto;
}

#Logo
{
  display: none;
}

/* Company name */
.company-name
{
  text-align: center;
  font-size: 2vw;
  margin-top: 100px;
  opacity: 0;
}

/* Menu */

.menu-container
{
  padding: 0 0;
  margin: 0 0;
  display: none;
  width: 100%;
  text-align: center;
}

  .menu-container li
  {
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4297f3), to(rgba(0, 0, 0, 0))) 1 100%;


    display: inline-block;
    text-align: center;
    font-size: 1.5vw;
    width: 20%;
  }


.footer
{
    width: 100%;
    position: fixed;
    bottom: 0%;
}


























/* About Page */
.wrapper
{
    font-family: 'Roboto Slab', serif; 
    color:#7a7a7a;
}

.header
{
    font-family: 'Roboto Slab', serif;
    width:100%;
    height:90px;
}  

.content
{
    font-family: 'Roboto Slab', serif;   
}

.header-wrapper
{
    height:40px;
    width:94%;
    margin:0 3%;
    border-bottom:1px solid #e0e0e0;
    
}

.site-title
{
    width:48%;
    padding-top:5px;
    height:35px;
    font-size:150%;  
    letter-spacing: .1em;
    font-weight: 400;
    float:left;
    margin-left:10px;
}

.site-logo
{   
    margin:0px;
    display:block;
    height:40px;
    width:60px;
    float:left;
    background-image:url(../img/logo.png);
    background-size:60px 50px;
    background-position:center;
    background-repeat:no-repeat;
}

.line-inner
{
    display:block;
    width:94%;
    padding:12px 0px;
    margin:0px 3%;
    background-origin: border-box;
    background-position: center;
    background-repeat:no-repeat; 
    
}

.line-inner div
{
    height:1px;
    width:40%;
    background-color:#ccc;
}

.diagraphic-line
{
    background-image:url("../img/logo.png");
    background-size:40px 40px;
}

.line-inner div
{
    height:1px;
    width:40%;
    background-color:#ccc;
}
.line1
{
    margin-left:5%;         
}
.line2
{
    margin-left:55%;
}

.people-list
{
    width:98%;
    margin:1%; 
    height:auto;
}
.people-list ul
{
    list-style-type: none;
    padding:0px;
    text-align:center;
}
.people-list ul li
{
    display:inline-block;
    margin:2.5% 5%;
    width:10vw;
    vertical-align: top;
    font-size:.8vw;
}
.people-list ul li span
{
    width:100%;
    margin:10px 0px;
    display:block;
    color:gray;
    font-weight:300;
    font-size:.5vw;
    text-align:center;
}
.people-list ul li span.head-name
{
    font-size:2.25vw;
}

.people-list ul li span.head-title
{
    font-size:1.25vw;
    font-style:italic;
}

.headshot
{
    border-radius:50%;
    background-color:#e0e0e0;
    line-height:75px;
    margin:0 auto;
    font-size:.7vw;
    cursor:pointer;
    text-align: center;
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    
}
.headshot:hover
{
    -webkit-box-shadow:0 0 28px 6px rgba(66, 166, 243, 0.8);
    -moz-box-shadow: 0 0 28px 6px rgba(66, 166, 243, 0.8);
    box-shadow: 0 0 28px 6px rgba(66, 166, 243, 0.8);
}
.headshot:active
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(66, 166, 243, 0.8);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(66, 166, 243, 0.8);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(66, 166, 243, 0.8);
}


#maulin { background-image: url(../img/Maulin_Hemani_s.jpg);}
#amol   { background-image: url(../img/Amol_Kapoor_s.jpg);}
#kunal   { background-image: url(../img/Kunal_Nabar_s.jpg);}
#eric   { background-image: url(../img/Eric_Klawitter_s.jpg);}
#derek   { background-image: url(../img/Derek_Hong_s.jpg);}
#adrian   { background-image: url(../img/Adrian_Garza_s.jpg);}
#kathleen   { background-image: url(../img/Kathleen_Zhu_s.jpg);}
#alex   { background-image: url(../img/Alex_Epifano_s.jpg);}


.gen-content
{
    height:680px;
    width:84%;
    margin:0 8%;
}
.gen-content div
{   
    float:left;
    
}
.staff-photo
{
    height:100%;
    width:45%;
}
.staff-photo img
{
    width:80%;
    margin:0 10%;
    margin-top:20%;
}
.staff-text
{
    margin-left:10%;
    height:100%;
    width:35%;
    font-size: 1.1vw;
}
.val
{
    margin-top:20%;
    /*font-family:"Helvetica Neue", Arial, sans-serif;*/
    text-align: justify;
}





























>>>>>>> origin/master:css/site.css
/* Chalk page stuff */
.chalk-title
{
  opacity: 0;

  color: rgb(67, 67, 103);

  text-align: center;
  font-size: 530%;
  font-family: Calibri, sans-serif;

  cursor: pointer;
}

.chalk-sub-title
{
  opacity: 0;

  color: rgb(67, 67, 103);

  text-align: center;
  font-size: 30px;
  font-family: Calibri, sans-serif;

  cursor: pointer;
}

.chalk-container
{
  margin-top: 500px;
  position: relative;

}

  .chalk-content
  {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  .chalk-header
  {
    position: relative;
    font-size: 50px;
    font-weight: 500;
    margin-left: 2%;
  }

  .features-content
  {
    height: 18%;
  }

    .features-container
    {
      margin-top: 8%;
      margin-left: 20%;
      width: 80%;
      height: 70%;
    }

      .features-container-item
      {
        display: inline-block;
        vertical-align:top;
        font-weight: 500;
      }

      .item-1
      {
        width: 20%;
        height: 100%;
      }

      .item-2
      {
        margin-left: 10%;
        width: 50%;
      }

        .features-menu
        {
          list-style: none;
          height: 100%;
        }

          .features-menu li
          {
            width: 100%;
            height: 25%;
          }

            .features-menu li .text
            {
              margin-top: 4%;
              font-size: 18px;
              text-align: center;
              font-family: 'Roboto Slab', serif; 
           	  color: gray;
            }

            .features-menu li .image
            {
              width:75%;
              height:80%;
              border-radius:50%;
              background-color:#e0e0e0;
              line-height:75px;
              margin:0 auto;
              font-size:15px;
              cursor:pointer;
              text-align: center;
              background-size:100% 100%;
            }

            .features-menu li .image:hover
            {
                -webkit-box-shadow:0 0 28px 6px rgba(66, 166, 243, 0.8);
                -moz-box-shadow: 0 0 28px 6px rgba(66, 166, 243, 0.8);
                box-shadow: 0 0 28px 6px rgba(66, 166, 243, 0.8);
            }
            .features-menu li .image:active
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(66, 166, 243, 0.8);
                -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(66, 166, 243, 0.8);
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(66, 166, 243, 0.8);
            }


            #HowItWorks { background-image:url(../img/how_chalk_works_header.png); }
            #IntuitiveUI {background-image:url(../img/IntuitiveUI.png);}
            #StylusBetter { background-image:url(../img/StylusBetter.jpg);}
            #TraditionalistsToo { background-image:url(../img/traditionalists.jpg);}



        .features-expanded
        {
          margin-top: 10%;
          border-radius:20px;
          overflow: auto;
          background: #e0e0e0;
          width: 100%;
          height: 85%;
        }

          .features-expanded .image
          {
            width:75%;
            height:50%;
            border-radius:20px;
            margin: 0 auto;
            margin-top: 10%;
            margin-bottom: 7%;
            font-size:15px;
            text-align: center;
            background-size:100% 100%;
          }

          .features-expanded .text
          {
            margin: auto;
            width: 80%;
            height: 30%;
            overflow: hidden;
            font-size: 15px;
            font-family: 'Roboto Slab', serif; 
           	color: gray;
          }

            #ExpandedImage { background-image: url(../img/how_chalk_works_chart.png)}

            .features-expanded .text p
            {
              text-align: justify;
              margin-left: 10%;
              margin-right: 10%;
              color: black;
            }

          .dots
          {
            text-align: center;

          }

            .dots li
            {
              display: inline;
              border-radius: 50%;
              border-style: solid;
            }


  .testimonials-content
  {
    height: 21%;
  }

    .testimonials-container
    {
      float: right;
      text-align: right;
      font-family: 'Roboto Slab', serif; 
      color: gray;
    }

       .name
      {
        text-align: right;
      }

       .title
      {
        text-align: right;
      }

       .main-text-one
      {
        font-size: 50px;
        width: 15%;
        margin-left: 57%;
      }

       .name-title-one
      {
        width: 80%;
      }

       .name-one
      {
        font-size: 30px;
      }

       .title-one
      {
        font-size: 20px;
      }


       .main-text-two
      {
        font-size: 30px;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 20%;
        width: 69%;
      }

       .name-title-two
      {
        width: 80%;
      }

       .name-two
      {
        font-size: 20px;
      }

       .title-two
      {
        font-size: 17px;
      }



        .main-text-three
      {
        font-size: 20px;
        margin-top: 5%;
        margin-right: 10%;
      }

       .name-title-three
      {
        width: 90%;
      }

       .name-three
      {
        font-size: 20px;
      }

       .title-three
      {
        font-size: 17px;
      }


        .main-text-four
      {
        font-size: 15px;
        margin-top: 5%;
        margin-right: 35%;
      }

       .name-title-four
      {
        width: 65%;
      }

       .name-four
      {
        font-size: 10px;
      }

       .title-four
      {
        font-size: 10px;
      }

       .main-text-five
      {
        font-size: 30px;
        margin-top: 5%;
        margin-right: 10%;
      }

       .name-title-five
      {
        width: 90%;
      }

       .name-five
      {
        font-size: 25px;
      }

       .title-five
      {
        font-size: 17px;
      }

      .test-6
      {
      	margin-left: 15%;
      }

	       .main-text-six
	      {
	        font-size: 20px;
	        margin-top: 5%;
	        margin-right: 40%;
	      }

	       .name-title-six
	      {
	        width: 60%;
	      }

	       .name-six
	      {
	        font-size: 20px;
	      }

	       .title-six
	      {
	        font-size: 17px;
	      }

       .main-text-seven
      {
        font-size: 40px;
        margin-top: 5%;
        margin-right: 10%;
      }

       .name-title-seven
      {
        width: 90%;
      }

       .name-seven
      {
        font-size: 40px;
      }

       .title-seven
      {
        font-size: 25px;
      }


      .test-8
      {
      }

	       .main-text-eight
	      {
	        font-size: 20px;
	        margin-top: 5%;
	        margin-right: 10%;
	        margin-left: 20%;
	      }

	       .name-title-eight
	      {
	        width: 90%;
	      }

	       .name-eight
	      {
	        font-size: 17px;
	      }

	       .title-eight
	      {
	        font-size: 15px;
	      }

        .main-text-nine
      {
        font-size: 25px;
        margin-top: 5%;
        margin-right: 10%;
        margin-left: 40%;
        width: 50%;
      }

       .name-title-nine
      {
        width: 90%;
      }

       .name-nine
      {
        font-size: 22px;
      }

       .title-nine
      {
        font-size: 20px;
      }


  .video-one-content
  {
    height: 17%;
  }

    #firstvid
    {
      margin-left: 25%;
      margin-top: 20%;
      width: 40%;
      height: 40%;
    }

  .competition-content
  {
    height: 15%;
  }

    #CompetitionImage
    {
      background-image: url(../img/competition.png);
      background-size:100% 100%;
      margin-left: 40%;
      margin-top: 5%;
      width: 50%;
      height: 50%;
    }
























a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.project-content
{
    width:84%;
    margin:8%;
}

.project-text
{
    margin-left:2%;
    font-size: 1.25vw;
}

.project-photo
{
    float:left;
    width:30%;
    padding:2%
}

.project-val
{
    /*font-family:"Helvetica Neue", Arial, sans-serif;*/
    text-align: justify;
}

.project-photo img
{
    width:80%;
    margin-left:10%;
}

#mumblr   { background-image: url(../img/microphone.png); background-size:105%;}
#defendthelounge   { background-image: url(../img/tendies.png); background-size:75%;}
#rumblr   { background-image: url(../img/fist.png);}
#ptable   { background-image: url(../img/Hydrogen.jpg); background-size:110%;}
#rerep   { background-image: url(../img/rerepLogo.png); background-size:90%;}

.main-description
{
   font-family: 'Roboto Slab', serif; 
  color:#7a7a7a;
    padding:0 8%;
    font-size:2vw;
     text-align: justify;
}

h5
{
    font-size:4vw;   
}

.page-footer
{
    font-family: 'Roboto Slab', serif;
    font-size: 0.5em;
    width:100%;
    text-align:center;
    padding-bottom:2.5%;
}















>>>>>>> origin/master:css/site.css
    /* MEDIA CONSIDERRATIONS */
  @media all and (max-width:1355px)
{

      /*Stuff for chalk page on website*/
      .features-menu li
      {
        margin-bottom: 10%;
      }

        .features-menu li .text
        {
          font-size: 19px;
        }

      #ExpandedImageText
      {
        font-size: 16px;
      }

      .main-text-one
      {
        font-size: 50px;
        margin-left: 58%;
        width: 15%;
      }

      .name-title-one
      {
        width: 90%;
      }

      .main-text-eight, .main-text-two, .main-text-three, .main-text-five, .main-text-seven, .main-text-nine, .main-text-four, .main-text-six
      {
        font-size: 26px;
        margin-right: 10%;
        margin-top: 4%;
        width: 70%;
        margin-left: 20%;
      }

      .name-title
      {
        width: 90%;
      }

       .name
      {
        font-size: 23px;
      }

       .title
      {
        font-size: 20px;
      }

      .test-9
      {
      	display: none
      }


      #firstvid
      {
        margin-left: 30%;
        margin-top: 22%;
      }

      .competition-content
      {
        height: 12%;
      }

      #CompetitionImage
      {
        margin-left: 35%;
        width: 60%;
        height: 60%;
      }
}
@media all and (max-width:1305px)
{

      /*Stuff for chalk page on website*/

        .features-menu li .text
        {
          font-size: 17px;
        }

      #ExpandedImageText
      {
        font-size: 15px;
      }

      .main-text
      {
        font-size: 28px;
      }

       .name
      {
        font-size: 25px;
      }

       .title
      {
        font-size: 18px;
      }

      .test-7
      {
      	margin-left:20%;
      }

      .main-text-one
      {
        font-size: 45px;
      }

      .test-8 
      {
        display: none;
      }

      #firstvid
      {
        margin-top: 23%;
      }
}

@media all and (max-width:1205px)
{
 

      /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 38px;
      }

      #ExpandedImageText
      {
        font-size: 13px;
      }

	  .main-text
	  {
	  	font-size: 23px;
	  }

	  .main-text-one
      {
        font-size: 45px;
        margin-left: 60%
      }

      #firstvid
      {
        margin-top: 18%;
      }

}

@media all and (max-width:1105px)
{
        .header li
        {
            font-size:50%;
        }
        
        .site-title
        {
            font-size:145%;
        }

      /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 35px;
      }

      #ExpandedImageText
      {
        font-size: 12px;
      }

      .main-text
      {
        font-size: 23px;
      }

      .main-text-one
      {
      	font-size: 40px;
      }

       .name-two
      {
        font-size: 17px;
      }

       .title-two
      {
        font-size: 15px;
      }

      #firstvid
      {
        margin-top: 19%;
      }
}

@media all and (max-width:1005px)
{
        .header li
        {
            font-size:50%;
        }
        
        .site-title
        {
            font-size:145%;
        }

      /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 30px;
      }

      .features-menu li
      {
        margin-bottom: 10%;
      }

      .features-menu li .text
      {
      	font-size: 15px;
      }

	  .main-text
	  {
		font-size:21;
	  }

      .main-text-one
      {
		font-size: 40px;
      }

       .name
      {
        font-size: 19px;
      }

       .title
      {
        font-size: 16px;
      }

      
      .test-8
      {
        display: none;
      }

      .competition-content
      {
        height: 12%;
      }

      #CompetitionImage
      {
        margin-left: 35%;
        width: 60%;
        height: 60%;
      }
    
    /* FORGIVE THE COPY PASTA, SENSEI,
        BUT IT MUST BE DONE */
    .people-list
    {
        width:90%;
        margin:5%; 
        height:auto;
    }
    .people-list ul
    {
        list-style-type: none;
        padding:0px;
        text-align:center;
    }
    .people-list ul li
    {
        width:30vw;
        min-width:0px;
    }
    .people-list ul li span
    {
        width:100%;
        margin:10px 0px;
        display:block;
        color:gray;
        font-weight:300;
        font-size:.5vw;
        text-align:center;
    }
    .people-list ul li span.head-name
    {
        font-size:5vw;
    }

    .people-list ul li span.head-title
    {
        font-size:3.5vw;
    }

    .headshot
    {
        width: 30vw;
        height: 30vw;
        min-width: 0px;
        min-height: 0px;
    }
    
    .project-photo
    {
        float:left;
        width:45%;
        padding:2%
    }
}

@media all and (max-width:905px)
{
        .header li
        {
            font-size:50%;
        }
        
        .site-title
        {
            font-size:145%;
        }

      /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 30px;
      }

        .features-menu li .text
        {
          font-size: 13px;
        }

      #ExpandedImageText
      {
        font-size: 10px;
      }

      .main-text
      {
      	font-size: 18px
      }


      .main-text-one
      {
        width: 15%;
        margin-left: 64%;
        font-size: 35px;
      }

       .name-two
      {
        font-size: 17px;
      }

       .title-two
      {
        font-size: 15px;
      }

      
      .test-8, 
      {
        display: none;
      }


      #firstvid
      {
        margin-top: 22%;
      }

      .competition-content
      {
        height: 12%;
      }

      #CompetitionImage
      {
        margin-left: 35%;
        width: 60%;
        height: 60%;
      }
    
    
}

@media all and (max-width:805px)
{
        .header li
        {
            font-size:50%;
        }
        
        .site-title
        {
            font-size:135%;
        }

      /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 25px;
      }

      .features-menu li .text
        {
          font-size: 12px;
        }

      #ExpandedImageText
      {
        font-size:8px;
      }

	  .main-text
	  {
	  	font-size: 16px;
	  }

	  .main-text-one
	  {
	  	font-size: 35px;
	  	margin-left:58%;
	  }

       .name
      {
        font-size: 14px;
      }

       .title
      {
        font-size: 14px;
      }

      
      .test-8, .test-9, 
      {
        display: none;
      }

      .competition-content
      {
        height: 12%;
      }

      #CompetitionImage
      {
        margin-left: 35%;
        width: 60%;
        height: 60%;
      }
}
@media all and (max-width:705px)
{
        .site-title
        {
            font-size:120%;
        }
        .header li
        {
            font-size:40%
        }



      /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 21px;
      }


        .features-menu li .text
        {
          font-size: 10px;
        }

      #ExpandedImageText
      {
        font-size: 6.8px;
      }

      .main-text
      {
        font-size: 13px;
      }

      .main-text-one
      {
        font-size: 30px;
        margin-left: 56%;
      }

       .name
      {
        font-size: 11px;
      }

       .title
      {
        font-size: 10px;
      }

      
      .test-8, .test-9, 
      {
        display: none;
      }


      #firstvid
      {
        margin-top: 15%;
      }

}
@media all and (max-width:605px)
{
        .site-title
        {
            font-size:100%;
        }
        .header li
        {
            font-size:30%
        }


      /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 20px;
      }

      .features-menu li
      {
        margin-bottom: 12%;
      }

        .features-menu li .text
        {
          font-size: 10px;
        }

        .features-menu li .image:hover
        {
            -webkit-box-shadow:none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

      #ExpandedImageText
      {
        font-size: 6px;
      }

      .main-text
      {
        font-size: 11px;
      }

       .name
       {
        font-size: 9px;
       }

       .title
      {
        font-size: 8px;
        width: 40%;
        text-align: right;
        margin-left: 60%;
      }

 	.main-text-one
      {
        font-size: 30px;
        margin-left: 47%;
        margin-top: 5%;
      }

      .name-title-one
      {
        font-size: 22px;
      }

      .test-3
      {
        display: none;
      }


      #firstvid
      {
        margin-left: 28%;
      }

}
@media all and (max-width:505px)
{
        .site-title
        {
            font-size:90%;
        }
        .header li
        {
            font-size:20%
        }

        /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 15px;
      }

        .features-menu li .text
        {
          font-size: 6px;
        }

      #ExpandedImageText
      {
        font-size: 4.5px;
      }

      .test-1 
      {
        margin-top: 10%;
      }

        .main-text-one
        {
          font-size: 25px;
          margin-left: 45%;
          width: 20%;
        }

      .name-one
      {
        font-size: 13px;
      }

      
      .test-2
      {
        display: none;
      }


      #firstvid
      {
        margin-left: 27%;
        margin-top: 17%;
      }

}
@media all and (max-width:405px)
{
        .site-title
        {
            font-size:70%;
        }
        .header li
        {
            font-size:10%;
        }

         /*Stuff for chalk page on website*/
      .chalk-header
      {
        font-size: 10px;
      }

        .features-menu li .text
        {
          font-size: 6px;
        }

      #ExpandedImageText
      {
        font-size: 3.5px;
      }

      .test-1 
      {
        margin-top: 20%;
      }

      .main-text
      {
        font-size: 9px;
        width: 60%;
        margin-right: 10%;
        margin-left: 30%;
      }

       .name
      {
        font-size: 10px;
      }

       .title
      {
        font-size: 10px;
      }

      
      .test-2
      {
        display: none;
      }


      #firstvid
      {
        margin-top: 17%;
        margin-left: 28%;
      }

}

@media all and (max-width:350px)
{
         /*Stuff for chalk page on website*/
        .features-menu li .text
        {
          font-size: 5px;
        }
}

@media all and (min-width:678px)
{
    .people-list
    {
        height:200px;   
    }
}
