body, html
{
  width: 100%;
  height: 100%;
  font-family:"Raleway",sans-serif;
  font-weight:500;
  font-size: 1vw;
  -webkit-font-smoothing:antialiased;
  color:#4297f3;
}

ul
{
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

/* spacers */
/* Spacers */

.spacer-15
{
  width: 100%;
  height: 15%;
}

.spacer-17
{
  width: 100%;
  height: 17%;
}


.button {
  cursor: pointer;
}

.header-wrapper {
  display: inline;
  margin-left: 2%;
}

  .logo-container {
    width: 7%;
  }

    .site-logo {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    .site-logo img {
      max-width: 100%;
      height: auto;
    }

  .header-wrapper li {
    display: inline-block;
    vertical-align: middle;
    font-size: 2vw;
  }

    .header-wrapper .site-title-container {
      margin-right: 20%;
    }

    .header-wrapper .link {
      -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4297f3), to(rgba(0, 0, 0, 0))) 1 100%;

      display: inline-block;
      text-align: center;
      font-size: 1.2vw;
      width: 10%;
    }

.line-inner
{
    display:block;
    width:94%;
    padding:1% 0px;
    margin:0px 3%;
    background-origin: border-box;
    background-position: center;
    background-repeat:no-repeat; 
    
}

.line-inner div
{
    height:1px;
    width:40%;
    background-color:#ccc;
}

.diagraphic-line
{
    background-image:url("../img/logo.png");
    background-size: 2%;
}

.line-inner div
{
    height:1px;
    width:40%;
    background-color:#ccc;
}
.line1
{
    margin-left:5%;         
}
.line2
{
    margin-left:55%;
}

.content {
  height: 91%;
  width: 100%;
}

a, a:hover, a:visited {
  text-decoration: none;
  color:#4297f3;
}

.content {
  display: none;
}