
body, html
{
  width: 100%;
  height: 100%;
  font-family:"Raleway",sans-serif;
  font-weight:500;
  font-size: 1vw;
  -webkit-font-smoothing:antialiased;
  color:#4297f3;
}

ul
{
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.button {
  cursor: pointer;
}

.site-logo {
  background-image: url('../img/logo.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.header-wrapper {
  display: inline;
  margin-left: 2%;
}

  .logo-container {
    width: 7%;
  }

  .header-wrapper li {
    display: inline-block;
    vertical-align: top;
    line-height: 5vw;
    height: 10%;
    font-size: 2vw;
  }

.line-inner
{
    display:block;
    width:94%;
    padding:12px 0px;
    margin:0px 3%;
    background-origin: border-box;
    background-position: center;
    background-repeat:no-repeat; 
    
}

.line-inner div
{
    height:1px;
    width:40%;
    background-color:#ccc;
}

.diagraphic-line
{
    background-image:url("../img/logo.png");
    background-size:40px 40px;
}

.line-inner div
{
    height:1px;
    width:40%;
    background-color:#ccc;
}
.line1
{
    margin-left:5%;         
}
.line2
{
    margin-left:55%;
}

.content {
  height: 91%;
  width: 100%;
}

a, a:hover, a:visited {
  text-decoration: none;
  color:#4297f3;
}