#background {
	margin-top: -150px;
	opacity: .25;
}

#get-started {
	text-align: center;
	font-size: 18pt;

	position: relative;
	top: 40%;
	transform: translateY(-50%);

}

#pt-link {
	border: 2px solid #4297f3;
	padding: 10px;
	border-radius: 10px;

	transition: border-radius .2s, background-color .2s;
	-webkit-transition: border-radius .2s, background-color .2s;
	-moz-transition: border-radius .2s, background-color .2s;
}

#pt-link:hover {
	border-radius: 0px;
}

p {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	background-color: white;
	padding: 10px;
	border-radius: 3px;
}