body {
	overflow: auto;
}

#background {
	opacity: .25;
	padding-left: 10px;
}

	#background>img {
	    max-width:1250px;
	}

#get-started {
	text-align: center;
	font-size: 18pt;
	color: #7a7a7a;
	position: relative;
	top: 40%;
	transform: translateY(-50%);

}

#pt-link {
	border: 2px solid #4297f3;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .5);
	transition: border-radius .2s, background-color .2s;
	-webkit-transition: border-radius .2s, background-color .2s;
	-moz-transition: border-radius .2s, background-color .2s;
}

#pt-link:hover {
	border-radius: 0px;
}

p {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	background-color: rgba(255, 255, 255, .5);
	padding: 10px;
	border-radius: 3px;
}