.suggestion {
  width: 100%;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 100%;
}

.panel {
  width: 100%;
  height: 95%;
  /* min-height: 950px; */
  font-family:"Arvo", serif;
  color: #7a7a7a;
}

  .banner-image {
    width: 50%;
  }

  #realrep {
    text-align: center;
  }
    #realrep img {
      width: 30%;
    }

    #realrep .subheader {
      font-size: 3vw;
      font-family:"Raleway",sans-serif;
      color:#4297f3;
    }

  #selfProfile {
    background: #E5E5FF;
  }

    #selfProfile img {
      float: right;
      margin-right: 3%;
      padding-top: 3%;
    }

    #selfProfile .text {
      padding-top: 3%;
      margin-left: 3%;
      text-align: justify;
      width: 40%;
      font-size: 1.2vw;
      overflow: auto;
    }

  #judgr {
    background: white;
  }

    #judgr img {
      display: inline-block;
      width: 19.5%;
      margin-left: 20%;
      padding-top: 3%;
    }

    #judgr .text {
      padding-top: 3%;
      margin-left: 3%;
      text-align: justify;
      width: 94%;
      font-size: 1.2vw;
      overflow: auto;
    }

  #friendsProfile {
    background: #CCCCFF;
  }

    #friendsProfile img {
      width: 44%;
      padding-top: 3%;
      margin-left: 3%;
      margin-right: 3%;
    }

    #friendsProfile .first {
      float: left;
    }

    #friendsProfile .t-first {
      margin-top: 3%;
    }

    #friendsProfile .second {
      float: right;
    }

    #friendsProfile .t-second {
      margin-top: 15%;
      margin-left: 3%;
    }

  #correlations {
    background: #E5E5FF;
  }

    .title {
      padding-top: 2%;
      font-size: 2vw;
      margin-left: 3%;
    }

    #correlations img {
      float: right;
      margin-right: 3%;
      padding-top: 3%;
    }

    #correlations .text {
      padding-top: 3%;
      margin-left: 3%;
      text-align: justify;
      width: 40%;
      font-size: 1.2vw;
      overflow: auto;
    }

  #endtag {
    text-align: center;
    line-height: 16vw;
    font-size: 3vw;
    font-family:"Raleway",sans-serif;
    color:#4297f3;  
  }
    #endtag div {
      /* margin-top: 6%; */
    }

    #endtag .end-tag-two {
      font-size: 2vw;
    }